.gallery-container {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1.gallery-title {
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    color: #000;
}

/* scroll container box */
.scroll-container {
    overflow: hidden;
    padding: 40px;
    margin-top: 30px;
}
.scroll-track {
    display: flex;
    width: max-content; /*안에있는 컨텐츠만큼만*/
    gap: 30px;
    animation: leftScroll 40s linear infinite;
    /* 호버때는 멈추게 만들 수 있다 */
    animation-play-state: running; 
}
.scroll-container:hover .scroll-track {
    animation-play-state: paused;
}
.scroll-item {
    width: 300px;
    text-align: center;
    transition: 0.5s;
}
.scroll-item:hover {
    transform: scale(1.1);
}
.scroll-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 15px;
}
.scroll-img+div {
    color: rgb(196, 43, 79);
}

.fade-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}
.img-box img {
    width: 600px;
    border-radius: 20px;
}
.text-box {
    width: 600px;
    font-size: 30px;
}
.text-box h4 {
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 0.7;
}
.group-img {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0 100px;
}
.group-img img {
    width: 250px;
    border-radius: 10px;
}


@keyframes leftScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

