.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(3,3,3,0.8);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    z-index: 1000;
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    opacity: 0.4;
    transition: 0.5s;
}
.navbar:hover {
    opacity: 1;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
.navbar a:hover {
    color: #c9f7ff;
}

